@import "{poetic:materialize-scss}/sass/components/_color.scss";
$primary-color-dark:   #455A64;
$primary-color:        #607D8B;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #009688;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

@import "{poetic:materialize-scss}/sass/materialize.scss";

button > .navbar-icon{
  height: 36px !important;
  line-height:36px !important;
}
