// @import "{poetic:materialize-scss}/sass/components/_color.scss";
// $primary-color-dark:   #455A64;
// $primary-color:        #607D8B;
// $primary-color-light:  #CFD8DC;
// $primary-color-text:   #FFFFFF;
// $accent-color:         #009688;
// $primary-text-color:   #212121;
// $secondary-text-color: #757575;
// $divider-color:        #BDBDBD;
//
// @import "{poetic:materialize-scss}/sass/materialize.scss";
//
// button > .navbar-icon{
//   height: 36px !important;
//   line-height:36px !important;
// }
$brand-primary:             #009688;
$brand-inverse:             #455A64;
@import "{}/node_modules/bootstrap/scss/bootstrap.scss";
// .navbar {
//   display: block;
// }
body{
  padding-top: 4.5rem;
}
.navbar-inverse .navbar-nav .nav-link {
  color: white;
  border-bottom: 4px solid $brand-inverse;
}
.navbar-inverse .navbar-nav .active {
    border-bottom: 4px solid $brand-primary;
}
.navbar-toggleable-md .navbar-nav .nav-link {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.navbar {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
// @import "{}/node_modules/font-awesome/scss/_variables.scss";
// @import "{}/node_modules/font-awesome/scss/_mixins.scss";
// @import "{}/node_modules/font-awesome/scss/_path.scss";
// @import "{}/node_modules/font-awesome/scss/_core.scss";
// @import "{}/node_modules/font-awesome/scss/_larger.scss";
// @import "{}/node_modules/font-awesome/scss/_fixed-width.scss";
// @import "{}/node_modules/font-awesome/scss/_list.scss";
// @import "{}/node_modules/font-awesome/scss/_bordered-pulled.scss";
// @import "{}/node_modules/font-awesome/scss/_animated.scss";
// @import "{}/node_modules/font-awesome/scss/_rotated-flipped.scss";
// @import "{}/node_modules/font-awesome/scss/_stacked.scss";
// @import "{}/node_modules/font-awesome/scss/_icons.scss";
// @import "{}/node_modules/font-awesome/scss/_screen-reader.scss";
