<template name="allprojectschart">
  <div class="row">
    <div class="col-12 col-md-4">
      <!-- {{#if allTeamMembers}} Team: {{allTeamMembers}}<br/> {{/if}} -->
      {{t "overview.total_time_tracked"}} <br/>
      {{timeInUserUnit(totalHours)}} ({{timeunit}})<br/>
    </div>
    <div class="d-none d-md-block col-md-3 text-center">
      {{#if topTasks}}
        <p>{{t "overview.top_tasks"}}</p>
      {{else}}
        <p>&nbsp;</p>
      {{/if}}
      <div class="js-pie-chart-container">
        <div style="margin:auto; width:122px; height:122px; border-radius:50%; background-color: rgba(0,0,0,0.1);"></div>
      </div>
      <!-- <ol>
        {{#each topTasks}}
          <li><span class="d-block text-truncate" style="max-width:100%;" data-toggle="tooltip" data-placement="top" title="{{_id}}">{{_id}}</span></li>
        {{/each}}
      </ol> -->
      <!-- Top tasks: {{topTasks}} -->
    </div>
    <div class="d-none d-md-block col-md-5 text-center">
      <p>{{t "overview.three_month_history"}}</p>
      <div class="js-chart-container">
        <div style="margin:auto; width:428px; height:132px; background-color:rgba(0,0,0,0.1);"></div>
      </div>
    </div>
  </div>
</template>
