<template name="calendar">
  <div class="row">
    <div class="col-3 d-none d-md-block js-project-container">
      {{#each project in projects}}
        <div class="card drag" data-project="{{project._id}}" style="border-left-color: {{project.color}}; border-left-width:thick;"><div class="card-block "><span class="text-truncate d-inline-block" style="max-width:200px;" data-toggle="tooltip" data-placement="bottom" data-title="{{project.name}}">{{project.name}}</span>
        <span class="float-right text-muted"><i class="fa fa-arrows-alt"></i></span></div></div>
      {{/each}}
      <div class="alert alert-secondary alert-dismissible fade show mt-4" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <i class="fa fa-hand-point-up"></i> {{t "tracktime.month_drag_help_text"}} <i class="fa fa-hand-point-right"></i>
      </div>
    </div>
    <div class="col">
      <!-- Fullcalender element -->
      <div id="cal">
      </div>
    </div>
  </div>
  {{>editTimeEntryModal tcid=tcid selectedDate=selectedDate selectedProjectId=selectedProjectId}}
</template>
