<template name="connectioncheck">
  <div class="modal" tabindex="-1" role="dialog" id="offlineModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header"><h4>Your are offline</h4></div>
        <div class="modal-body">
          <p><i class="fa fa-3x fa-bolt pull-left text-muted"></i> Server connection could not be established.</p>
          <button class="btn btn-default d-block mx-auto" id="connectButton">retry</button>
        </div>
      </div>
    </div>
  </div>
</template>
