<template name="navbar">
  <nav class="navbar navbar-expand bg-dark fixed-top">
      <a class="navbar-brand text-white" href="/"><img src="/favicons/favicon-32x32.png" alt="titra - open source time tracking for small companies" class="d-inline-block" height="25"/>{{#unless currentUser}}&nbsp;&nbsp;titra{{/unless}}</a>
      {{#if currentUser}}
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link {{isRouteActive 'tracktime'}}" href="/tracktime"><i class="fa fa-plus"></i> {{#if displayLinkText 'tracktime'}}<span>{{t "navigation.track"}}</span>{{else}}<span class="d-none d-md-inline">{{t "navigation.track"}}</span>{{/if}}</a></li>
          <li class="nav-item"><a class="nav-link {{isRouteActive 'projectlist'}}" href="/list/projects"><i class="fa fa-chart-pie"></i> {{#if displayLinkText 'projectlist'}}<span>{{t "navigation.overview"}}</span>{{else}}<span class="d-none d-md-inline">{{t "navigation.overview"}}</span>{{/if}}</a></li>
          <li class="nav-item"><a class="nav-link {{isRouteActive 'timecards'}}" href="/list/timecards/all"><i class="fa fa-list"></i> {{#if displayLinkText 'timecards'}}<span>{{t "navigation.details"}}</span>{{else}}<span class="d-none d-md-inline">{{t "navigation.details"}}</span>{{/if}}</a></li>
        </ul>
        <div class="nav-item mr-2 d-none d-md-inline-block" style="width:130px;">
          {{#unless isRouteActive 'tracktime'}}
            {{#if getUserSetting 'timer'}}
                {{>timetracker}}
            {{/if}}
          {{/unless}}
        </div>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {{isRouteActive 'settings'}}" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{{avatar}}}
            </a>
            <div class="dropdown-menu mt-0 bg-dark" aria-labelledby="navbarDropdownMenuLink" style="left:auto;right:-1rem;">
              <a class="dropdown-item text-white" href="/profile"><i class="fa fa-user-circle"></i> {{t "navigation.profile"}}</a>
              <a class="dropdown-item text-white" href="/settings"><i class="fa fa-cogs"></i> {{t "navigation.settings"}}</a>
              {{#unless currentUser.loggingIn}}
                {{#if Template.subscriptionsReady}}
                  {{#if currentUser.isAdmin}}
                    <a class="dropdown-item text-white" href="/admin"><i class="fa fa-lock"></i> {{t "navigation.administration"}}</a>
                  {{/if}}
                {{/if}}
              {{/unless}}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-white" href="/about"><i class="fa fa-info-circle"></i> {{t "navigation.about"}}</a>
            </div>
          </li>
        </ul>
      </div>
      {{/if}}
    </nav>
</template>
