<template name="periodpicker">
  <select id="period" class="custom-select form-control">
    <option value="currentMonth">{{t "period.currentMonth"}}</option>
    <option value="currentWeek">{{t "period.currentWeek"}}</option>
    <option value="currentYear">{{t "period.currentYear"}}</option>
    <option value="lastMonth">{{t "period.lastMonth"}}</option>
    <option value="last3months">{{t "period.last3months"}}</option>
    <option value="lastWeek">{{t "period.lastWeek"}}</option>
    <option value="lastYear">{{t "period.lastYear"}}</option>
    <option value="all">{{t "period.all"}}</option>
    <!-- <option value="custom">Custom</option> -->
  </select>
</template>
