<template name="projectchart">
  <div class="row">
    <div class="col-12 col-md-4">
      {{#if projectDescAsHtml}}
        <div class="text-truncate js-tooltip" style="max-height:1.8em;cursor:pointer;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;">
          {{{truncatedProjectDescAsHtml}}}
        </div>
      {{/if}}
      {{#if Template.subscriptionsReady}}
        {{#if allTeamMembers}}
          <i class="fa fa-users" style="width:18px;"></i> {{t "overview.team"}} {{#each teamMember in allTeamMembers}}
          {{{avatarImg teamMember.profile.avatar teamMember.profile.name teamMember.profile.avatarColor}}}
          {{/each}}<br/>
        {{/if}}
        {{#if totalHours}}
          <i class="fa fa-clock" style="width:18px;"></i> {{t "overview.total_time"}} {{timeInUserUnit(totalHours)}} ({{timeunitVerbose}}) {{{hourIndicator}}}<br/>
        {{/if}}
        {{#if target}}
          <i class="fa fa-bullseye" style="width:18px;"></i> {{t "overview.target"}}: {{timeInUserUnit(target)}} ({{timeunitVerbose}})<br/>
        {{/if}}
        {{#if turnOver}}
          <i class="fa fa-money-bill-alt" style="width:18px;"></i> {{t "overview.turnover"}}: {{turnOver}} {{unit}}
        {{/if}}
      {{else}}
        {{t "globals.loading"}}  
      {{/if}}
    </div>
    <div class="d-none d-md-block col-md-3 text-center">
      {{#if topTasks}}
        <p>{{t "overview.top_tasks"}}</p>
      {{else}}
        <p>&nbsp;</p>
      {{/if}}
      <div class="js-pie-chart-container" style="max-height: 160px;">
        <div style="margin:auto; width:130px; height:130px; border-radius:50%; background-color: rgba(0,0,0,0.1);"></div>
      </div>
    </div>
    <div class="d-none d-md-block col-md-5 text-center">
      <p>{{t "overview.three_month_history"}}</p>
      <div class="js-hours-chart-container p-3" style="max-height: 160px;">
        <div style="margin:auto; width:240px; height:130px; background-color:rgba(0,0,0,0.1);"></div>
      </div>
    </div>
  </div>
  <hr/>
</template>
