<template name ="projectselect">
  <div class="input-group form-floating">
    <select class="form-select form-control js-target-project" style="border-left-color: {{projectColor (selectedId)}}; border-left-width:thick;">
      <option value="" disabled selected>{{t "project.project_placeholder"}}</option>
      {{#if allProjects}}
        <option value="all">{{t "overview.all_projects"}}</option>
      {{/if}}
      {{#each projects}}
        <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
    {{#if displayProjectInfo}}
      <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#projectInfoPopup"><i class="fa fa-info-circle"></i></button>
    {{/if}}
    <label class="form-label">{{t "globals.project"}}</label>
  </div>
  {{#if displayProjectInfo}}
    {{>projectInfoPopup projectId=selectedId}}
  {{/if}}
</template>
