<template name="toast">
    <div class="position-fixed top-0 end-0 p-3 mt-4" style="z-index: 9999">
        <div class="d-none toast text-bg-primary" role="alert" aria-live="assertive" aria-atomic="true">
            <!-- <div class="toast-header">
                <i class="fas fa-info-circle me-auto"></i><strong>&nbsp;</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div> -->
            <div class="d-flex">
                <i class="fas fa-info-circle my-auto mx-3"></i>
                <div class="toast-body">
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
</template>