<template name="weektable">
  <div class="tab-borders p-3">
    <div class="row form-group">
      <div class="col-3"><button type="button" class="btn btn-secondary border js-previous-week"><i class="fa fa-chevron-left"></i><span class="d-none d-lg-inline"> {{t "navigation.lastWeek"}}</span></button></div>
      <div class="col text-center"><button type="button" class="btn btn-primary js-save">{{t "navigation.save"}}</button></div>
      <div class="col-3 text-right"><button type="button" class="btn btn-secondary border js-next-week"><span class="d-none d-lg-inline">{{t "navigation.nextWeek"}} </span><i class="fa fa-chevron-right"></i></button></div>
    </div>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-sm mb-0">
          <thead class="thead">
            <th scope="col" style="min-width:200px;width:200px">{{t "globals.project"}} / {{t "globals.task"}}</th>
            {{#each weekday in weekDays}}
              <th scope="col" style="min-width:122px;">{{weekday}}</th>
            {{/each}}
            <th scope="col"></th>
          </thead>
            {{#each project in projects}}
              {{>weektablerow projectName=project.name projectId=project._id startDate=startDate endDate=endDate}}
            {{/each}}
          <tfoot style="border-top-style:double;border-top-color:#dee2e6;">
            <td class="text-center">{{#if hasData}}{{getWeekTotal}}{{/if}}</td>
            {{#each weekday in weekDays}}
              <td class="pl-3">{{getTotalForDay weekday}}</td>
            {{/each}}
            <td class="text-center">{{#if hasData}}Σ{{/if}}</td>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</template>

<template name="weektablerow">
    <tr>
      <td scope="row">
        <a href="#" style="color:inherit" class="week-row js-collapse" data-target="#{{projectId}}" aria-expanded="false"><span class="d-inline-block text-truncate" style="width:170px;" data-toggle="tooltip" data-placement="top" data-title="{{projectName}}">{{projectName}}</span> <i class="fa fa-chevron-right d-inline-block"></i></a>
      </td>
      {{#if weekDays}}
        {{#each weekday in weekDays}}
          <td class="pl-3">{{getTotalForDayPerProject projectId weekday}}</td>
        {{/each}}
      {{/if}}
      <td class="text-center">{{#if tasks}}Σ{{/if}}</td>
    </tr>
  <tbody id="{{projectId}}" class="collapse">
    {{#each task in tasks}}
      <tr>
        <td>
          {{#if task._id}}
            <div class="card form-control" style="overflow:hidden" data-toggle="tooltip" data-placement="bottom" title="{{task._id}}">{{task._id}}</div>
          {{else}}
            {{>tasksearch projectId=false}}
          {{/if}}
        </td>
        {{#each weekday in weekDays}}
          <td>
            <input type="number" value="{{getHoursForDay weekday task}}" data-task="{{task._id}}" data-project-id="{{projectId}}" data-week-day="{{@index}}" class="form-control js-hours" placeholder="0.00"/>
          </td>
        {{/each}}
        <td class="pt-2">{{getTotalForTask(task)}}</td>
      </tr>
    {{/each}}
    <tr class="js-new-line-placeholder"></tr>
    <tr><td colspan="9"><button type="button" class="btn btn-sm btn-primary js-newline"><i class="fa fa-plus"></i> {{t "navigation.newLine"}}</button></td></tr>
  </tbody>
</template>
