<template name="extensionscomponent">
    <div class="card mb-3">
        <div class="card-header">
            <a href="#" class="text-reset text-decoration-none"> {{t "administration.addExtension"}}</a>
        </div>
        <div class="card-block" id="addExtension">
            <label for="extensionFile" class="form-label">{{t "administration.uploadExtension"}}</label>
            <input class="form-control" accept="application/zip" type="file" id="extensionFile">
            <span class="form-text">{{t "administration.extensionStore"}} <a href='https://titra.io/enterprise' target='_blank'>Extension Store</a>!</span>
        </div>
    </div>
    {{#if extensions}}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{t "globals.name"}}</th>
                        <th>{{t "globals.description"}}</th>
                        <th>{{t "globals.status"}}</th>
                        <th>{{t "tracktime.actions"}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each extension in extensions}}
                        <tr>
                            <td>{{extension.name}}</td>
                            <td>{{extension.description}}</td>
                            <td>
                                <div class="form-check form-switch">
                                    <input aria-label="Extension state" class="form-check-input js-extension-state" data-extension-id="{{extension._id}}" type="checkbox" checked="{{extension.isActive}}">
                                </div>
                        </td>
                            <td class="text-center">
                                <a href="#" aria-label="Remove extension" class="js-remove-extension" data-extension-id="{{extension._id}}"><i class="fas fa-trash"></i></a>
                                <a href="#" aria-label="Launch extension" class="js-launch-extension" data-extension-id="{{extension._id}}"><i class="fas fa-play-circle"></i></a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="alert alert-secondary">
            {{t "administration.extensionHint"}}
        </div>
    {{else}}
        <p>{{t "administration.no_extensions"}}</p>
    {{/if}}
</template>