<template name="inboundinterfacescomponent">
    <div class="container">
        <div class="card mb-3">
            <div class="card-header">
                <span>{{t "administration.add_update_inbound_interface"}}</span>
            </div>
            <div class="card-block" id="addCustomField">
                <form class="form">
                    <input class="d-none" type="text" id="_id" name="_id"/>
                    <div class="mb-3 form-floating">
                        <input class="form-control" type="text" id="name" name="name"/>
                        <label for="name" class="form-label">{{t "globals.name"}}</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input class="form-control" type="text" id="description" name="description"/>
                        <label for="description" class="form-label">{{t "globals.description"}}</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <textarea class="form-control mb-3" name="processData" id="processData" style="min-height:10rem;"></textarea>
                        <label for="processData" class="form-label">{{t "administration.process_data"}}</label>
                        <span class="form-text">{{t "administration.processdata_hint"}}</span>
                    </div>
                    <div class="form-check form-switch mb-3">
                        <input id="isActive" name="isActive" aria-label="Inbound interface active" class="form-check-input js-inbound-interface-state" type="checkbox">
                        <label for="isActive" class="form-label">{{t "administration.active"}}</label>
                    </div>
                    <button type="reset" class="btn btn-secondary js-reset">Cancel</button>
                    <button type="button" class="btn btn-primary js-add-inbound-interface">Add</button>
                    <button type="button" class="btn btn-primary js-update-inbound-interface d-none ms-auto">Update</button>
                </form>
            </div>
        </div>
        <h6>{{t "administration.inboundinterfaces"}}</h6>
        <table class="table">
            <thead>
                <tr>
                    <th>{{t "globals.name"}}</th>
                    <th>{{t "globals.description"}}</th>
                    <th>{{t "tracktime.actions"}}</th>
                </tr>
            </thead>
            {{#each inboundInterface in inboundInterfaces}}
                <tr>
                    <td>{{inboundInterface.name}}</td>
                    <td>{{inboundInterface.description}}</td>
                    <td>
                        <button class="btn js-edit-inbound-interface" data-interface-id="{{inboundInterface._id}}"><i class="fa fa-pencil"></i></button>
                        <button class="btn js-remove-inbound-interface" data-interface-id="{{inboundInterface._id}}"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</template>