<template name="oidccomponent">
    {{#if getGlobalSetting "enableOpenIDConnect"}}
        <div class="alert alert-secondary">
            {{t "administration.oidc_configure"}}: <span class="url">{{siteUrl}}_oauth/oidc</span>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">{{t "globals.name"}}</th>
                        <th scope="col">{{t "administration.value"}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each setting in oidcSettings}}
                    <tr>
                        <td>{{setting.label}}</td>
                        <td class="form-switch">
                            {{#if isCheckbox setting}}
                                <input aria-label="{{setting.label}}" id="configure-oidc-{{setting.property}}" name="{{setting.property}}" type="checkbox" class="form-check-input js-setting-input form-checkbox" {{isChecked setting.property}}/>
                            {{else}}
                                <input aria-label='{{setting.label}}' id="configure-oidc-{{setting.property}}" name="{{setting.property}}" type="text" value="{{oidcValue setting.property}}" class="form-control js-setting-input"/>
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-3 ms-auto b-grid">
                <button type="button" class="btn btn-primary js-update-oidc form-control">{{t "navigation.save"}}</button>
            </div>
        </div>
    {{/if}}
</template>