//++++ [theme colors] ++++
$theme-colors: (
  primary: #009688,
  secondary: #444,
  success: #009688,
  info: #b2dfdb,
  warning: #ffc107,
  danger: #ff5722,
  light: #BDBDBD,
  dark: #455A64
);

//++++ [changed variables] ++++
$gray-900: #eeeeee !default;
$titra-dark: #006d62 !default;

$border-color: map-get($theme-colors, dark) !default;

$body-bg:  #1d1e21 !default;
$body-font-weight: 200;
$body-color: #f0f0f0;

$card-bg: #303030 !default;
$card-cap-bg: #404040 !default;
$card-border-color: #404040 !default;

$list-group-bg: #303030 !default;
$list-group-color: $gray-900 !default;
$list-group-hover-bg: #404040 !default;
$list-group-action-hover-color: $gray-900 !default;

$input-bg: map-get($theme-colors, secondary) !default;
$input-color: $gray-900 !default;
$input-border-color: #5B5B5B;

$nav-tabs-link-active-color: $gray-900 !default;
$nav-tabs-border-color: map-get($theme-colors, dark) !default;
$nav-tabs-link-active-border-color: map-get($theme-colors, dark) map-get($theme-colors, dark) $body-bg !default;
$nav-tabs-link-hover-border-color: map-get($theme-colors, dark) !default;

$dropdown-bg: map-get($theme-colors, secondary) !default;
$dropdown-color: $gray-900 !default;
$dropdown-link-hover-bg: map-get($theme-colors, dark) !default;

$pagination-bg: map-get($theme-colors, secondary) !default;
$pagination-color: $gray-900 !default;
$pagination-border-color: map-get($theme-colors, dark) !default;
$pagination-hover-bg: $titra-dark !default;
$pagination-hover-color: $gray-900 !default;
$pagination-hover-border-color: map-get($theme-colors, dark) !default;
$pagination-active-bg: map-get($theme-colors, primary) !default;
$pagination-disabled-border-color: map-get($theme-colors, dark) !default;
$pagination-disabled-bg: #303030 !default;

$popover-bg: map-get($theme-colors, secondary);
$modal-content-bg: map-get($theme-colors, secondary);

$font-weight-base: 200 !default;

@import "{}/node_modules/sweetalert2/src/sweetalert2.scss";

//++++ [custom] ++++
.btn-outline-secondary {
    border-color: #5B5B5B !important;
    color: $gray-900 !important;
}
.btn-outline-secondary:hover {
    background-color: $titra-dark !important;
}

.ql-editor {
    line-height: 1em;
    background-color: #444444 !important;
    border: 1px solid #5e5e5e!important;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    font-size: 1rem !important;
}
.ql-toolbar.ql-snow {
    // border: 1px solid #a2a2a2!important;
    // background-color: #9b9b9b !important;
    border: 1px solid#5e5e5e !important;
    background-color:rgb(41, 41, 41) !important;
}
.ql-container.ql-snow {
    border: #444444 !important;
    background-color: #455A64 !important;
}
.btn-secondary:hover {
    color: $gray-900 !important;
    background-color: $titra-dark !important;
    border-color: map-get($theme-colors, dark) !important;
}
.page-link:focus {
    z-index: 0;
    outline: 0;
    box-shadow: none !important;
}   
.tab-borders {
  background-color: #303030;
  border-left: 1px solid map-get($theme-colors, dark);
  border-right: 1px solid map-get($theme-colors, dark);
  border-bottom: 1px solid map-get($theme-colors, dark);
}
.tab-content {
    background-color: #303030 !important;
}
.custom-select {
  background: map-get($theme-colors, secondary) !important;
}
.all-projects-bg {
  background: map-get($theme-colors, secondary) !important;
}
#cal .fc-event {
  color: $gray-900 !important;
}
.fc-unthemed td.fc-today {
  background: rgba(0, 150, 136, 0.5) !important;
}
.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
    border-color: #5B5B5B !important;
}
.drag.card:hover {
    background-color: #2b2b2b;   
}
.drag.card {
    background-color: #404044;   
}
.alert-secondary {
    color: #a0a0a0;
    background-color: #2b2b2b;
    border-color: #353535;
}
.fc-button-primary {
    color: #eee !important;
    background-color: map-get($theme-colors, secondary) !important;
    border-color: map-get($theme-colors, dark) !important;
} 
.fc-button-primary:hover {
    color: #eee !important;
    background-color: $titra-dark !important;
    border-color: map-get($theme-colors, dark) !important;
}
.close {
    color: #c1c1c1;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #f0f0f0;
    background-color: $card-cap-bg;
    border-color:#455A64 #455A64 $titra-dark;
}
.nav-tabs .nav-link:hover {
    color: #f0f0f0;
    background-color: #303030;
    border-color: #455A64 #455A64 $titra-dark;
}
.card-block .list-group-item {
    background-color: #1fc98227;
}
.datatable {
    --dt-border-color: #424242;
    --dt-light-bg: #2e3538;
    --dt-text-color: #dfe2e5;
    --dt-text-light: #dfe2e5;
    --dt-cell-bg: #1c1f20;
    --dt-focus-border-width: 1px;
    --dt-selection-highlight-color: var(--dt-light-bg);
    --dt-toast-message-border: 1px solid var(--dt-border-color);
    --dt-header-cell-bg: #262c2e;
}
.swal2-popup {
    background-color: $card-cap-bg;
}
.swal2-popup.swal2-toast {
    background-color: $card-cap-bg;
}
.swal2-content {
    color: #dfe2e5;
}
.swal2-title {
    color: #dfe2e5;
}
.swal2-popup.swal2-toast .swal2-title {
    color: #dfe2e5;
}
g > text {
    fill: $gray-900;
}

.fc-theme-standard td, .fc-theme-standard th {
    border-color: map-get($theme-colors, dark) !important;
    background-color: map-get($theme-colors, secondary) !important;
}
.fc-theme-standard td, .fc-theme-standard th {
    border-color: map-get($theme-colors, dark) !important;
    background-color: map-get($theme-colors, secondary) !important;
}
.fc-theme-standard .fc-scrollgrid {
    border-color: map-get($theme-colors, dark) !important;
}
.fc .fc-col-header-cell-cushion {
    color: $gray-900 !important;
}

.dp {
    background-color: map-get($theme-colors, secondary) !important;
    color: $body-color !important;
}
.dp-cal-header {
    background-color: inherit;
    color: $body-color !important;
}
.dp-cal-footer {
    background-color: inherit;
}
.dp-cal-month {
    color: $body-color !important;
}
.dp-cal-year {
    color: $body-color !important;
}
.dp-day {
    color: $body-color !important;
}
.dp-current {
    background-color: map-get($theme-colors, primary) !important;
}
.dp-cal-month:hover {
    background-color: map-get($theme-colors, primary) !important;
}
.dp-cal-year:hover {
    background-color: map-get($theme-colors, primary) !important;
}
.dp-day:hover {
    background-color: map-get($theme-colors, primary) !important;
}
.dp-day:hover {
    background-color: map-get($theme-colors, primary) !important;
}
.dp-prev:hover {
    background-color: map-get($theme-colors, primary) !important;
}
.dp-next:hover {
    background-color: map-get($theme-colors, primary) !important;
}
.dp-today:hover {
    background-color: map-get($theme-colors, primary) !important;
}
.dp-clear:hover {
    background-color: map-get($theme-colors, primary) !important;
}
.dp-close:hover {
    background-color: map-get($theme-colors, primary) !important;
}
.dp:before {
    background: map-get($theme-colors, primary) !important;
}
@import "{}/imports/ui/styles/general.scss";
