// ++++ [DarkThemeColors] ++++   ///////////////////////////////////////////////////////
$primary:                               #005a52;       // Color/Background-Color for links, Save-, Selectbuttons 
$secondary:                             #272727;       // Background-Color for all fields, control buttons, checkboxes
$success:                               #009688;       
$info:                                  #86a8a5;
$warning:                               #cb9800;
$danger:                                #f57c80;
$light:                                 #BDBDBD;
$dark:                                  #212529;
$dark-border:                           #3a3a3a;
$dark-form:                             #1d1d1d;
$grey:                                  #2d2d2d;
$lightgrey:                             #404040;
$gray-900:                              #eeeeee;
$titra-dark:                            #006d62;

//Tabs/Container
$tab-background-color:                  $grey;           // Tab/Container-Background-Color
$tab-border-color:                      $grey;           // Tab/Container-Border-Color
$border-color:                          $dark;

//PrimaryButton
$prim-btn-color:                        #f0f0f0;       // Font-Color of primary buttons
$prim-btn-background-color:             #006d62;       // Background-Color of primary buttons
$prim-btn-bg-color-hover:               #009688;       // HoverBackground-Color of primary buttons

//SecondaryButton
$sec-btn-color:                         #bbbbbb;       // Font-Color of secondary buttons
$sec-btn-background-color:              $lightgrey;       // Background-Color of secondary buttons
$sec-btn-bg-color-hover:                #006d62;       // Hover-Background-Color of secondary buttons
$sec-btn-color-hover:                   #f0f0f0;       // Hover-Font-Color of secondary buttons
$sec-btn-border-color-hover:            $dark-border;    // Hover-border-Color of secondary buttons 

//InputFieldButtons
$input-button-background-color:         #2b2b2b;       // Background-Color for input-field-buttons
$input-button-bg-color-hover:           #006d62;       // Background-Color for input-field-buttons
$input-button-border-color:             $dark-border;    // Border-Color for input-field-buttons
$input-button-font-color:               $primary;       // Font-Color of input-field-buttons (timer)

//InputFields
$input-background-color:                $secondary;         // Background-Color for input-fields
$input-border-color:                    $dark-border;    // Border-Color for input-fields

//DatePickr
$cal-pickr-main-color:                  #212529;       // Main-Color for CalDatePickr 
$cal-pickr-font-color:                  #009688;       // Font-Color for CalDatePickr
$cal-pickr-footer-color:                $grey;           // Footer-Color for CalDatePickr
$cal-pickr-header-color:                $grey;           // Header-Color for CalDatePickr
$cal-pickr-header-border:               0px;             // Header-Border for CalDatePickr
$cal-pickr-lightbox-color:              #292929bf;     // Lightbox-Color for CalDatePickr
$cal-pickr-today-mark:                  #949494;       // Marker-Color of todays date for CalDatePickr
$cal-pickr-current-color:               #2d3238;       // Current date color for CalDatePickr
$cal-pickr-focus-color:                 #2d3238;       // focused date color for CalDatePickr
$cal-pickr-hover-color:                 #2d3238;       // date hover color for CalDatePickr

//Navigation
$nav-link-color:                        #009688;       // Font-Color for Navigation
$nav-tab-border-color-highlight:        $primary;        // Border-Color for Navigation Higlight active tab
$nav-tab-border-color:                  transparent;     // Border-Color for Navigation
$nav-tab-background-color:              $dark;           // BG-Color for Navigation Tabs
$nav-link-color-hover:                  #f0f0f0;
$nav-link-bg-color-hover:               #24262800;
$nav-link-border-color-hover:           #ffffff00 #ffffff00 #ffffff00;
$nav-tabs-border-color:                 #004842;       // Border-Color for Navigation Line

//RichTextEditor
$rte-background-color:                  $secondary;      // Backround-color for RTE
$rte-font-color:                        #5e5e5e;       // Font-color for RTE
$rte-border-color:                      #5e5e5e00;     // Border-color for RTE
$rte-toolbar-bg-color:                  #9c9c9c;       // Background-color for RTE-Toolbar
$rte-toolbar-border-color:              #444444;       // Border-color for RTE-Toolbar

//WeekView-Table
$wv-table-font-color:                   #c1c1c1;       // Font-color for WeekView-Table
$wv-table-font-size:                    16px;            // Font-size for WeekView-Table
$wv-table-header-font-color:            #636363;       // Font-color for WeekView-Table-Header
$wv-table-header-font-size:             16px;            // Font-size for WeekView-Table-Header

//AllProjectsCard
$ap-card-bg-color-left-top:             #1d1d1d;       // 1. gradient color for allProjectsCard
$ap-card-bg-color-center:               #004842;       // 2. gradient color for allProjectsCard
$ap-card-bg-color-bottom-right:         #212529;       // 3. gradient color for allProjectsCard

//DataTable
$data-border-color:                     $grey;       // Border-Color for Tables
$data-text-color:                       #bdbdbd;       // Font-Color for Tables
$data-cell-bg-color:                    $secondary;       // Cell-BG-Color for Tables
$data-header-bg-color:                  $lightgrey;       // Header-Cell-BG-Color for Tables
$data-header-text-color:                #adb5bd;       // Header-Font-Color for Tables
$data-header-dropdown-bg-color:         #08433e;       // dropdown-BG-Color for Table-DropDowns
$data-header-dropdown-bg-hover:         $primary;        // dropdown-hover-BG-Color for Table-DropDowns
$data-header-indicator-color:           $success;        // color of sorting arrow indicator for Table-Headers

//DangerAlert
$alert-danger-color:                    #cccccc;       // Danger-Alert Color
$alert-danger-background-color:         #3b1516;       // Danger-Alert-BG Color
$alert-danger-border-color:             #000000;       // Danger-Alert-Border Color

//InfoAlert
$alert-info-color:                      #dadada;
$alert-info-background-color:           #846301; 
$alert-info-border-color:               #1d1d1d; 

//ProjectDragCard
$drag-card-bg-color:                    #404044;       // Drag Card Background Color (Month-View)
$drag-card-bg-color-hover:              #2b2b2b;       // Drag Card hover Background Color

//InfoCard
$alert-secondary-color:                 #a0a0a0;       // Info Drag Card Color (Month-View)
$alert-secondary-bg-color:              #1d2021;       // Info Drag Card BG-Color
$alert-secondary-border-color:          #1d2021;       // Info Drag Card Border-Color 

//Calendar
$fc-color:                              #eee;          // calendar pagination color, incl. today btn
$fc-bg-color:                           $secondary;      // calendar pagination bg-color
$fc-border-color:                       $dark;           // calendar pagination border-color
$fc-color-hover:                        #eee;          // calendar pagination color on hover
$fc-bg-color-hover:                     #006d62;       // calendar pagination bg-color on hover
$fc-border-color-hover:                 $dark;           // calendar pagination bg-color on hover
$fc-cell-border-color-width:            1px solid $grey; // calendar cell border width and border-color
$fc-cell-font-color:                    #a9a9a9;       // calendar cell font color 
$fc-cell-bg-color:                      #1d1f21;       // calendar cell BG-color 

//Body
$body-bg:                               #1d1d1d;
$body-font-weight:                      200;
$body-color:                            #f0f0f0;

//OverviewCards
$card-bg:                               #303030;   // Card BG-color
$card-cap-bg:                           $lightgrey;   // Card Header-BG-color
$card-border-color:                     $lightgrey;   // Card Border-color

//Pagination
$pagination-bg:                         $secondary;
$pagination-color:                      $gray-900;
$pagination-border-color:               $dark;
$pagination-hover-bg:                   $titra-dark;
$pagination-hover-color:                $gray-900;
$pagination-hover-border-color:         $dark;
$pagination-active-bg:                  $primary;
$pagination-disabled-border-color:      $dark;
$pagination-disabled-bg:                #303030;

//Other
$font-weight-base:                      200;
$form-file-button-bg:                   $secondary;

//Toast-Messages
$toast-background-color:                rgba($secondary, .85);
$toast-color:                           #dcdcdc;
$toast-header-background-color:         rgba($primary, .85);
$toast-header-color:                    $success;

//Modal 
$modal-header-bg-color:                 $lightgrey;
$modal-header-border-b-color:           0px;
$modal-content-bg-color:                $grey;
$modal-content-color:                   #dadada;








//++++ [AdvancedCustomization] ++++ ///////////////////////////////////////////////////////
.internal-autofill-selected {
    appearance:             menulist-button;
    background-color:       $success !important;
    background-image:       none !important;
}
.d-flex {
    display:                flex !important;
    color:                  $success !important;
}
.table-responsive {
    background-color:       $secondary !important;
}
.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu), .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3) {
    color:                  $gray-900 !important;
}
.form-select, .form-control {
    background-color:       $input-background-color !important;
}
.form-check-input {
    background-color:       $secondary !important;
}
.modal-header {
    border-bottom:          $modal-header-border-b-color !important;
    background-color:       $modal-header-bg-color !important;
}
.modal-content {
    background-color:       $modal-content-bg-color !important;
    color:                  $modal-content-color !important;
}
.popover {
    background-color:       $secondary !important;
}
.popover-header {
    background-color:       $lightgrey !important;
    border-bottom:          0px solid rgba(0, 0, 0, 0.2)!important;
}
.popover-arrow::after, .popover-header::before {
    border-bottom-color:    $lightgrey !important;
}
.input-group .btn {
    background-color:       $input-button-background-color !important;
    border-color:           $input-button-border-color !important;
}
.dp-modal {
    background-color:       $cal-pickr-lightbox-color !important;
}
.dp-months, .dp-years, .dp-cal, .dp-cal-month:hover, .dp-cal-year:hover, .dp-cal-year:focus  {
    background-color:       $cal-pickr-main-color !important;
}
.dp-cal-footer {
    background-color:       $cal-pickr-footer-color !important;
}
.dp-cal-header {
    background-color:       $cal-pickr-header-color !important;
}
.dp-cal-month, .dp-cal-year, .dp-day, .dp-month, .dp-year {
    color:                  $cal-pickr-font-color !important;
}
.dp-day-today:after {
    content:                '';
    height:                 0;
    width:                  0;
    border:                 7px solid $cal-pickr-today-mark;
    border-bottom-color:    transparent;
    border-left-color:      transparent;
    position:               absolute;
    top:                    0;
    right:                  0;
}
.dp-day:hover, .dp-month:hover, .dp-year:hover {
    outline:                none;
    background-color:       $cal-pickr-hover-color !important;
}
.dp-current {
    outline:                none;
    background-color:       $cal-pickr-current-color !important;
}
.dp-day:focus, .dp-month:focus, .dp-current:focus, .dp-year:focus {
    outline:                none;
    background-color:       $cal-pickr-focus-color !important;
}
.btn-outline-secondary {
    border-color:           $input-border-color !important;
    color:                  $input-button-font-color !important;
}
.btn-primary {
    color:                  $prim-btn-color !important;
    background-color:       $prim-btn-background-color !important;
}
.btn-primary:hover {
    background-color:       $prim-btn-bg-color-hover !important;
}
.ql-editor {
    line-height: 1em;
    background-color:       $rte-background-color !important;
    border: 1px solid       $rte-border-color !important;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    font-size: 1rem !important;
}
.ql-toolbar.ql-snow {
    border:                 1px solid $rte-toolbar-border-color !important;
    background-color:       $rte-toolbar-bg-color !important;
}
.ql-container.ql-snow {
    border:                 $rte-border-color !important;
}
.btn-secondary:hover {
    color:                  $sec-btn-color-hover !important;
    background-color:       $sec-btn-bg-color-hover !important;
    border-color:           $sec-btn-border-color-hover !important;
}
.btn-secondary {
    color:                  $sec-btn-color !important;
    background-color:       $sec-btn-background-color !important;
}
.page-link:focus {
    z-index:                0;
    outline:                0;
    box-shadow:             none !important;
}   
.tab-borders {
  background-color:         $tab-background-color !important;
  border-left:              1px solid $dark;
  border-right:             1px solid $dark;
  border-bottom:            1px solid $dark;
}
.tab-content {
    background-color:       $tab-background-color !important;
}
.table {
    color:                  $wv-table-font-color !important;
    font-size:              $wv-table-font-size !important;
}
.table > thead {
    font-size:              $wv-table-header-font-size !important;
    font-variant:           all-petite-caps !important;
    color:                  $wv-table-header-font-color !important;
}
.all-projects-bg {
  background-image:         linear-gradient(to bottom right, $ap-card-bg-color-left-top, $ap-card-bg-color-center, $ap-card-bg-color-bottom-right) !important;
}
.p-2 {
    padding:                0.5rem !important;
    background-color:       $sec-btn-background-color !important;
    border:                 1px solid $grey !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color:       $nav-tab-background-color !important;
    border-color:           $nav-tab-border-color $nav-tab-border-color $nav-tab-border-color-highlight !important;
}  
.nav-link:hover {
    color:                  $nav-link-color-hover !important;
    background-color:       $nav-link-bg-color-hover !important;
    border-color:           $nav-link-border-color-hover!important;
}
.drag.card:hover {
    background-color:       $drag-card-bg-color-hover !important;    
}
.drag.card {
    background-color:       $drag-card-bg-color !important;      
}
.alert-secondary {
    color:                  $alert-secondary-color !important;
    background-color:       $alert-secondary-bg-color !important;
    border-color:           $alert-secondary-border-color !important;
}
.fc-button-primary {
    color:                  $fc-color !important;
    background-color:       $fc-bg-color !important;
    border-color:           $fc-border-color !important;
} 
.fc-button-primary:hover {
    color:                  $fc-color-hover !important;
    background-color:       $fc-bg-color-hover !important;
    border-color:           $fc-border-color-hover !important;
}
.fc-theme-standard td, .fc-theme-standard th {
    border:                 $fc-cell-border-color-width !important;
}
.fc a {
    color:                  $fc-cell-font-color !important;
    text-decoration:        underline;
}
.fc table {
    background-color:       $fc-cell-bg-color !important;
}
.fc-theme-standard .fc-scrollgrid {
    border:                 0px solid transparent !important;
}
.dropdown-item{
   font-weight:             $font-weight-base !important; 
}
.nav-link {
    color:                  $nav-link-color !important;
}
.datatable {
    --dt-border-color:              $data-border-color !important;
    --dt-text-color:                $data-text-color !important;
    --dt-cell-bg:                   $data-cell-bg-color !important;
    --dt-focus-border-width:        none;
    --dt-toast-message-border:      none;
    --dt-header-cell-bg:            $data-header-bg-color !important;
}

.dt-cell__content {
    color:                  $data-text-color !important;
    background-color:       $data-cell-bg-color !important;
    border: 1px solid       $data-border-color !important;
    text-align:             left !important;
}
.dt-cell--header .dt-cell__content:hover {
    font-weight:            400 !important;
    color:                  $data-text-color !important;
    background-color:       $primary !important;
    border:                 1px solid $data-border-color !important;
}
.dt-dropdown__list {
    background-color:       $data-header-dropdown-bg-color !important;    
}
.dt-dropdown__list-item:hover {
    background-color:       $data-header-dropdown-bg-hover !important; 
}
.list-group-item {
    color:                  $gray-900 !important;
    background-color:       $secondary !important;
    border:                 1px solid $lightgrey !important;

}
.dt-cell--header .dt-cell__content {    
    font-weight:            400 !important;
    color:                  $data-header-text-color !important;
    background-color:       $data-header-bg-color !important;
    border:                 1px solid $data-border-color !important;
    cursor:                 pointer !important;
    text-align:             left !important;
}
.dt-cell--header .sort-indicator {
    color:                  $data-header-indicator-color !important;
}
.alert-danger {
    color:                  $alert-danger-color !important;
    background-color:       $alert-danger-background-color !important;
    border-color:           $alert-danger-border-color !important;
}
.alert-info {
    color:                  $alert-info-color !important;
    background-color:       $alert-info-background-color !important;
    border-color:           $alert-info-border-color !important;
}
.text-center {
    text-align:             center !important;
    font-weight:            200 !important;
}
thead, tbody, tfoot, tr, td, th {
    border-color:           $lightgrey !important;
}
.card-block  {
    background-color:       $card-bg  !important;
}
.drag .card-block:hover  {
    background-color:       $primary  !important;
}
.btn-outline-primary {
    color:                  $success !important;
    border-color:           $primary!important;
}
a {
    color:                  $success !important;
    text-decoration:        underline;
}
g > text {
    fill: #FFFFFF;
}
.gantt .grid-header {
    fill: $grey !important;
    stroke: $grey !important;
}
.gantt .grid-row {
    fill: $grey !important;
}
.gantt .grid-row:nth-child(even) {
    fill: $dark-form !important;
}
.gantt .row-line {
    stroke: $dark !important;
}
.gantt .lower-text {
    fill: $body-color !important;
}
.gantt .upper-text {
    fill: $body-color !important;
}
.gantt .bar {
    fill: $lightgrey !important;
}
@import "{}/imports/ui/styles/general.scss";