// @import "{poetic:materialize-scss}/sass/components/_color.scss";
// $primary-color-dark:   #455A64;
// $primary-color:        #607D8B;
// $primary-color-light:  #CFD8DC;
// $primary-color-text:   #FFFFFF;
// $accent-color:         #009688;
// $primary-text-color:   #212121;
// $secondary-text-color: #757575;
// $divider-color:        #BDBDBD;
//
// @import "{poetic:materialize-scss}/sass/materialize.scss";
//
// button > .navbar-icon{
//   height: 36px !important;
//   line-height:36px !important;
// }


//++++ [theme colors] ++++

$theme-colors: (
  primary: #009688,
  secondary: #ffffff,
  success: #009688,
  info: #b2dfdb,
  warning: #ffc107,
  danger: #ff5722,
  light: #BDBDBD,
  dark: #455A64
);
$dropdown-link-hover-bg: map-get($theme-colors, dark) !default;

//++++ [custom] ++++

.list-group-item {
  color: #495057;
}
.tab-borders {
  background-color: map-get($theme-colors, secondary);
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
.custom-select {
  background: map-get($theme-colors, secondary) !important;
}
.all-projects-bg {
  background: rgba(0,112,101,0.05) !important;
}
.fc-unthemed td.fc-today {
  background: rgba(0, 150, 136, 0.5) !important;
}
.alert-secondary {
    color: #7b7b7b;
    background-color: #ffffff;
    border-color: #e8e8e8;
}
.fc-button-primary {
    color: #000000 !important;
    background-color: map-get($theme-colors, secondary) !important;
    border-color: map-get($theme-colors, light) !important;
} 
.fc-button-primary:hover {
    color: #000000 !important;
    background-color: #eee !important;
    border-color: map-get($theme-colors, light) !important;
}
.datatable {
    --dt-border-color: #d1d8dd;
    --dt-light-bg: #f5f7fa;
    --dt-text-color: #000000;
    --dt-text-light: #dfe2e5;
    --dt-cell-bg: #fff;
    --dt-focus-border-width: 1px;
    --dt-selection-highlight-color: var(--dt-light-yellow);
    --dt-toast-message-border: none;
    --dt-header-cell-bg: var(--dt-cell-bg);
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .nav-link:hover {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.drag.card {
  background-color: map-get($theme-colors, secondary);  
}
.card-block .list-group-item {
  background-color: map-get($theme-colors, secondary);
}
@import "{}/imports/ui/styles/general.scss";
