$primary:             #009688;
$secondary:           #f7f7f7;
$success:             #009688;
$info:                #b2dfdb;
$warning:             #ffc107;
$danger:              #ff5722;
$light:               #BDBDBD;
$dark:                #455A64;
$dropdown-link-hover-bg: $dark !default;
$progress-bg: $secondary;
$ap-card-bg-color-left-top:             #c6d9e4;    // 1. gradient color for allProjectsCard
$ap-card-bg-color-center:               #c9e6e4;       // 2. gradient color for allProjectsCard
// $ap-card-bg-color-bottom-right:         #23937e;       // 3. gradient color for allProjectsCard
$ap-card-bg-color-bottom-right:         #21917d;       // 3. gradient color for allProjectsCard

// $ap-card-bg-color-bottom-right:            #6e869e;    // 1. gradient color for allProjectsCard
// $ap-card-bg-color-left-top:             #BDBDBD;      // 1. gradient color for allProjectsCard
// $ap-card-bg-color-center:               #42cec0;       // 2. gradient color for allProjectsCard
// $ap-card-bg-color-bottom-right:         #576d81;       // 3. gradient color for allProjectsCard



.is-light-theme {
  color:                white;
}
th.holiday {                                            // Week Holiday 
  color:                #455A64!important;
  background-color:     #f7f7f7;
  font-weight:          bolder;
  text-decoration:      underline;
  font-style:           italic;
}
table.table.table-sm.mb-0 {                             // Update Bootstrap fixed 
  --bs-table-bg:        #f7f7f7;
}
select#language, select#theme, 
select#holidayCountry, select#holidayState,
select#holidayRegion, select#timetrackview {            // Settings Bootstrap fixed
  background:           white !important;
}
svg.svg-inline--fa.fa-circle-user {                     // Icon NavbarProfile
  margin-right: 4px;
}
svg.svg-inline--fa.fa-circle-info {                
  margin-right: 4px;
}
svg.svg-inline--fa.fa-arrow-right-from-bracket {
  margin-right: 4px;
}
svg.svg-inline--fa.fa-box-archive {                     // Icon Overview Dropdown
  margin-right: 10px;
}
svg.svg-inline--fa.fa-link {
  margin-right: 6px;
}
svg.rounded {                                           // User Foto 
  opacity: 0.7;
  transition:           opacity 0.3s ease;
}
svg.rounded:hover {                                     
    opacity:                  1;
    cursor:             pointer;
}
.card-header.js-toggle-timecards {                      //  Time tracked table
  color:                $primary !important;
  font-weight:          bold;
}
svg.svg-inline--fa.fa-chevron-down.float-end {          //  Icon Time tracked table
  color:                $primary !important;
}
.css-progresspopup .progress.w-100 {                     //  Progress-bar
  --bs-progress-height: 1.3rem !important;
}
small.text-nowrap {                                     //  Progress percent
    font-size:          small;
}
.btn-primary {
    color:              #fff !important;
    background-color:   #009688 !important;
    border-color:       #009688 !important; 
}
.btn-primary:hover {
    color:              #fff!important;
    background-color:   #006e63!important; 
    border-color:       #006e63!important;
}
.btn-secondary {
    color:              #000 !important;
    background-color:   #ffffff !important;
    border-color:       #006e63!important; 
}
.btn-secondary:hover {
    color:              #fff !important;
    background-color:   #009688 !important;
}
button#addNewMember {      
  color:                #fff !important;
  background-color:     #009688 !important;
}
button#addNewMember:hover{
  color:                #fff !important;
  background-color:     #006e63 !important;
}
.list-group-item {
  color:                #495057;
}
.tab-borders {
  background-color:     $secondary;
  border-left:          1px solid #dee2e6;
  border-right:         1px solid #dee2e6;
  border-bottom:        1px solid #dee2e6;
}
// .form-select {
//   background:           $secondary !important;
// }
.all-projects-bg {                                                     // Schatten 
  background-image:      linear-gradient(to right bottom, $ap-card-bg-color-left-top, $ap-card-bg-color-center, $ap-card-bg-color-bottom-right) !important;
}
.fc-unthemed td.fc-today {
  background:           rgba(0, 150, 136, 0.5) !important;
}
.fc-bg-event {
  background-color:     #d1d1d1 !important;
  color:                #636363 !important;
  opacity: 1 !important;
}
.alert-secondary {
    color:              #7b7b7b;
    background-color:   #ffffff;
    border-color:       #e8e8e8;
}
.btn-outline-secondary {
  border-color:         #ced4da !important;
  color:                #212529 !important;
}
.btn-outline-secondary:hover{
  background-color:     #ececec !important;
}
.fc-button-primary{
    color:              #000000 !important; 
    background-color:   $secondary !important; 
    border-color:       $light !important;
}
button.fc-today-button.fc-button.fc-button-primary {
  color:                #fff !important;
  background-color:     #009688 !important;
  font-weight:             400;
}
.fc-button-primary:hover {
    color:               #000000 !important;
    background-color:    #eee !important;
    border-color:        $light !important; 
}
.datatable {
    --dt-border-color:     #d1d8dd;
    --dt-light-bg:         #f5f7fa;
    --dt-text-color:       #000000;
    --dt-text-light:       #dfe2e5;
    --dt-cell-bg:          #fff;
    --dt-focus-border-width: 1px;
    --dt-selection-highlight-color:   var(--dt-light-yellow);
    --dt-toast-message-border:        none;
    --dt-header-cell-bg:              var(--dt-cell-bg);
}
svg.svg-inline--fa.fa-pen-to-square {
  margin-right: 10px;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color:                    #495057;
  background-color:         #fff;
  border-color:             #dee2e6 #dee2e6 #fff;
  
}
.fc-theme-standard td, .fc-theme-standard th {
  background-color:         #ffffff !important;
}
.fc-daygrid-day-frame:hover {
  background-color:         #f8f8f8 !important;
}
.nav-tabs {
  border-bottom:  0px solid #dee2e6 !important;
}
.dt-scrollable {
    //border-top: 0px solid #d1d8dd;
    border-top:   0px solid var(--dt-border-color) !important;
}
.dt-scrollable__no-data {
border: 0px !important;
}
.nav-tabs .nav-link:hover {
  color:                    #495057;
  background-color:         #fff;
  border-color:             #dee2e6 #dee2e6 #fff;
}
.drag.card {
  background-color:         $secondary;  
}
span.d-inline-block.align-middle {
  padding-right: 6px;
}
.row.d-print-none {
  margin-right:        calc(-.3 * var(--bs-gutter-x));
}
.card-header-filter{
  padding:                    var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x); 
  background-color:           var(--bs-card-cap-bg);
  border-bottom:              var(--bs-card-border-width) solid var(--bs-card-border-color);
  --bs-card-border-radius:    0.375rem;
  border-top-right-radius:    0.300rem;
  border-top-left-radius:     0.300rem;
  //border-bottom-color: $primary !important;
  
}
// .col.me-auto {
//   color:                      white;
// }
// .card.mb-2.d-print-none {
//   border-color:               $primary!important;
// }
.card-block .list-group-item {
  background-color:           $secondary;
}
.at-link {
  color:                      $dark;
}
.dp-current {
  background-color:           $primary !important;
}
.dp-cal-month:hover {
  background-color:           $primary !important;
}
.dp-cal-year:hover {
  background-color:           $primary !important;
}
.dp-day:hover {
  background-color:           $primary !important;
}
.dp-day:hover {
  background-color:           $primary !important;
}
.dp-prev:hover {
  background-color:           $primary !important;
}
.dp-next:hover {
  background-color:           $primary !important;
}
.dp-today:hover {
  background-color:           $primary !important;
}
.dp-clear:hover {
  background-color:           $primary !important;
}
.dp-close:hover {
  background-color:           $primary !important;
}
.dp:before {
  background:                 $primary !important;
}
g>text {
  fill:                       #212529;
}
#period {
  background-color:           white !important;
}
.tab-borders {
    background-color:       #f7f7f7 !important;
    border-left:            1px solid #dee2e6 !important;
    border-right:           1px solid #dee2e6 !important;
    border-bottom:          1px solid #dee2e6 !important;
    border-top:             1px solid #dee2e6 !important;
    border-top-right-radius:            0.25rem !important;
    border-bottom-right-radius:         0.25rem !important;
    border-bottom-left-radius:          0.25rem !important;
}
@import "{}/imports/ui/styles/general.scss";
