<template name="allprojectschart">
  <div class="row">
    <div class="col-12 col-md-4">
      <h6 class="card-title">{{t "overview.summary"}}</h6>
      <i class="fa fa-hashtag" style="width:18px;"></i> {{t 'overview.number_projects'}}: {{projectCount}}<br/>
      <i class="fa fa-clock" style="width:18px;"></i> {{t "overview.total_time"}} {{#if timeInUserUnit totalHours}} {{timeInUserUnit(totalHours)}} {{else}} 0 {{/if}}({{timeunitVerbose}})
      <div class="my-2"></div>
      <button type="button" class="btn btn-secondary border" data-bs-toggle="collapse" data-bs-target=".js-allproject-filter" aria-label='{{t "details.filter"}}'><i class="fa fa-funnel-dollar"></i>&nbsp; {{t "details.filter"}}</button>
      <div class="collapse card js-allproject-filter bg-transparent">
        <div class="card-body p-2">
          <div class="form-check form-switch">
            <input id="showNotBillableTime" type="checkbox" class="form-check-input"/>
            <label class="form-label" for="showNotBillableTime">{{t "settings.show_not_billable_time"}}</label>
          </div>
          <div class="form-check form-switch mb-1">
            <input id="showArchived" type="checkbox" class="form-check-input"/>
            <label class="form-check-label" for="showArchived">{{t "navigation.show_archived"}}</label>
          </div>
          <div class="mb-1">
            {{>periodpicker}}
          </div>
          <div class="form-floating">
              <select id="limit" class="form-select form-control" aria="Limit selection">
                <option value="25" selected>25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="250">250</option>
                <option value="500">500</option>
              </select>
              <label class="form-label" for="limit">{{t "limit.show"}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-md-block col-md-3 text-center">
      <h6 class="card-title">{{t "overview.project_distribution"}}</h6>
      <div class="js-pie-chart-container" style="max-height: 160px; overflow:hidden;">
        <div style="margin:auto; margin-top:1.5rem; width:130px; height:130px; border-radius:50%; background-color: rgba(0,0,0,0.1);"></div>
      </div>
    </div>
    <div class="d-none d-md-block col-md-5 text-center">
      <h6 class="card-title">{{t "overview.three_month_history"}}</h6>
      <div class="js-chart-container" style="max-height: 160px;">
        <div class="my-2" style="margin:auto; width:250px; height:130px; background-color:rgba(0,0,0,0.1);"></div>
      </div>
    </div>
  </div>
</template>
