<template name="projectProgress">
  {{#if percentage}}
    <div class="progress w-100" style="border-radius: 0 0 var(--bs-progress-border-radius) var(--bs-progress-border-radius);">
      <div class="progress-bar text-center" role="progressbar" style="background-color:{{colorOpacity color 50}};width:{{percentage}}%;max-width:100%;" aria-valuenow="{{totalHours}}" aria-valuemin="0" aria-valuemax="{{target}}" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="{{t 'overview.percentage'}} {{percentage}} %">
        <small class="text-nowrap">{{#if isPercentageAbove15}}{{t "overview.percentage"}}:{{/if}} {{percentage}} %</small>
      </div>
    </div>
  {{/if}}
</template>
