<template name ="projectsearch">
  <div class="input-group">
    <div class="form-floating search-box">
      <i class="fa fa-delete-left hover-remove-value-icon js-remove-value"></i>
      <input name="project" id="project" type="text" placeholder="{{t 'project.project_placeholder'}}" class="form-control js-target-project" autocomplete="off" style="border-left-color: {{projectColor (selectedId)}}; border-left-width:thick;"/>
      <label class="form-label" for="project">{{t "project.project_placeholder"}}</label>
    </div>
    {{#if displayProjectInfo}}
      <button type="button" class="btn btn-outline-secondary js-display-project-info"><i class="fa fa-info-circle text-body"></i></button>
    {{/if}}
  </div>
  {{#if displayProjectInfo}}
    {{>projectInfoPopup projectId=selectedId}}
  {{/if}}
</template>
