<template name ="dailytimetable">
  <div class="row d-print-none">
    <div class="col-xl-7 col-lg-7 col-6 col-sm-12 mt-2">
      <div class="btn-group">
        {{#if dailyTimecards}}
          <button type="button" class="btn btn-secondary border js-export-csv" aria-label="CSV export"><i class="fa fa-download"></i> <span class="d-none d-md-inline">CSV</span></button>
          <button type="button" class="btn btn-secondary border js-export-xlsx" aria-label="Excel export"><i class="fa fa-download"></i> <span class="d-none d-md-inline">Excel</span></button>
        {{else}}
          <button type="button" class="btn btn-secondary border js-export-csv" aria-label="CSV export" disabled><i class="fa fa-download"></i> <span class="d-none d-md-inline">CSV</span></button>
          <button type="button" class="btn btn-secondary border js-export-xlsx" aria-label="Excel export" disabled><i class="fa fa-download"></i> <span class="d-none d-md-inline">Excel</span></button>
        {{/if}}
        {{#each outboundInterface in outboundInterfaces}}
            <button type="button" class="btn btn-secondary border js-outbound-interface" data-interface-id="{{outboundInterface._id}}"><i class="fa {{outboundInterface.faIcon}}"></i> <span class="d-none d-md-inline">{{outboundInterface.description}}</span></button>
        {{/each}}
      </div>
    </div>
  </div>
  <div id="datatable-container" class="mt-3 mb-3"></div>
  <div class="row">
    <div class="col-md-3"> 
      {{#if dailyTimecards}}
        {{>pagination totalEntries=totalEntries limit=limit}}
      {{/if}}
    </div>
    <div class="col-md-3 ms-md-auto"> 
      {{>limitpicker}}
    </div>
  </div>
</template>
