<template name="periodtimetable">
  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <div class="btn-group">
        {{#if periodTimecards}}
          <button type="button" class="btn btn-secondary border js-export-csv"><i class="fa fa-download"></i> <span class="d-none d-md-inline">CSV</span></button>
          <button type="button" class="btn btn-secondary border js-export-xlsx"><i class="fa fa-download"></i> <span class="d-none d-md-inline">Excel</span></button>
        {{else}}
          <button type="button" class="btn btn-secondary border js-export-csv" disabled><i class="fa fa-download"></i> <span class="d-none d-md-inline">CSV</span></button>
          <button type="button" class="btn btn-secondary border js-export-xlsx" disabled><i class="fa fa-download"></i> <span class="d-none d-md-inline">Excel</span></button>
        {{/if}}
      </div>
    </div>
    <div class="offset-lg-6 col-lg-3 col-sm-6">
      {{>limitpicker}}
    </div>
  </div>
  <div id="datatable-container" class="mt-3 mb-3"></div>
  {{#if periodTimecards}}
    {{>pagination totalEntries=totalPeriodTimeCards limit=limit}}
  {{/if}}
</template>
